## Load the dataset

In [1]:
import pandas as pd

titanic = pd.read_csv("Titanic-Dataset.csv")
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Sorting by Fare

In [2]:
sorted_fare = titanic.sort_values(by="Fare", ascending=False)

## Displaying the first 5 rows

In [3]:
sorted_fare.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C
258,259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.0,3,2,19950,263.0000,C23 C25 C27,S
438,439,0,1,"Fortune, Mr. Mark",male,64.0,1,4,19950,263.0000,C23 C25 C27,S

# Problem 1B - Sorting by age, then by fare

In [4]:
sorted_age_fare = titanic.sort_values(by=["Age", "Fare"], ascending=True)
sorted_age_fare.head(10)   # Show first few rows

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C
755,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,NaN,S
469,470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,NaN,C
644,645,1,3,"Baclini, Miss. Eugenie",female,0.75,2,1,2666,19.2583,NaN,C
831,832,1,2,"Richards, Master. George Sibley",male,0.83,1,1,29106,18.7500,NaN,S
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S
172,173,1,3,"Johnson, Miss. Eleanor Ileen",female,1.00,1,1,347742,11.1333,NaN,S
381,382,1,3,"Nakid, Miss. Maria (""Mary"")",female,1.00,0,2,2653,15.7417,NaN,C
788,789,1,3,"Dean, Master. Bertram Vere",male,1.00,1,2,C.A. 2315,20.5750,NaN,S

# Problem 1C - Sorting by Sex, then by fare (Decending)

In [5]:
sorted_age_fare = titanic.sort_values(by=["Age", "Fare"], ascending=True)
sorted_age_fare.head(10)   # Show first few rows

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C
755,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,NaN,S
469,470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,NaN,C
644,645,1,3,"Baclini, Miss. Eugenie",female,0.75,2,1,2666,19.2583,NaN,C
831,832,1,2,"Richards, Master. George Sibley",male,0.83,1,1,29106,18.7500,NaN,S
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S
172,173,1,3,"Johnson, Miss. Eleanor Ileen",female,1.00,1,1,347742,11.1333,NaN,S
381,382,1,3,"Nakid, Miss. Maria (""Mary"")",female,1.00,0,2,2653,15.7417,NaN,C
788,789,1,3,"Dean, Master. Bertram Vere",male,1.00,1,2,C.A. 2315,20.5750,NaN,S

# Problem 2 - Subsetting

In [6]:
##Selecting the following columns only:

subset_cols = ["Name", "Sex", "Age", "Fare", "Pclass", "Embarked"]
titanic_subset = titanic[subset_cols]
titanic_subset.head()

,Name,Sex,Age,Fare,Pclass,Embarked
0,"Braund, Mr. Owen Harris",male,22.0,7.2500,3,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,71.2833,1,C
2,"Heikkinen, Miss. Laina",female,26.0,7.9250,3,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,53.1000,1,S
4,"Allen, Mr. William Henry",male,35.0,8.0500,3,S

## Filter rows where age < 18

In [7]:
children = titanic_subset[titanic_subset["Age"] < 18]
children.head()

,Name,Sex,Age,Fare,Pclass,Embarked
7,"Palsson, Master. Gosta Leonard",male,2.0,21.0750,3,S
9,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,30.0708,2,C
10,"Sandstrom, Miss. Marguerite Rut",female,4.0,16.7000,3,S
14,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,7.8542,3,S
16,"Rice, Master. Eugene",male,2.0,29.1250,3,Q

## Filtering rows where fare > 20

In [8]:
fare_over_20 = titanic_subset[titanic_subset["Fare"] > 20]
fare_over_20.head()

,Name,Sex,Age,Fare,Pclass,Embarked
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,71.2833,1,C
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,53.1000,1,S
6,"McCarthy, Mr. Timothy J",male,54.0,51.8625,1,S
7,"Palsson, Master. Gosta Leonard",male,2.0,21.0750,3,S
9,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,30.0708,2,C

## Filtering rows where fare > 30 and Pclass = 1

In [9]:
fare_30_pclass1 = titanic_subset[
    (titanic_subset["Fare"] > 30) & (titanic_subset["Pclass"] == 1)
]
fare_30_pclass1.head()

,Name,Sex,Age,Fare,Pclass,Embarked
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,71.2833,1,C
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,53.1000,1,S
6,"McCarthy, Mr. Timothy J",male,54.0,51.8625,1,S
23,"Sloper, Mr. William Thompson",male,28.0,35.5000,1,S
27,"Fortune, Mr. Charles Alexander",male,19.0,263.0000,1,S

## Selecting passengers who embarked at either 'C' or 'Q'

In [10]:
embarked_CQ = titanic_subset[titanic_subset["Embarked"].isin(["C", "Q"])]
embarked_CQ.head()

,Name,Sex,Age,Fare,Pclass,Embarked
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,71.2833,1,C
5,"Moran, Mr. James",male,NaN,8.4583,3,Q
9,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,30.0708,2,C
16,"Rice, Master. Eugene",male,2.0,29.1250,3,Q
19,"Masselmani, Mrs. Fatima",female,NaN,7.2250,3,C

# Problem 3 - "Which passenger had the highest fare relative to age?"

## Add fare per year column

In [11]:
titanic["fare_per_year"] = titanic["Fare"] / titanic["Age"]

## Removing rows where age is NaN

In [12]:
titanic_clean = titanic.dropna(subset=["Age"])

## Sorting by fare per year

In [13]:
sorted_fare_age = titanic_clean.sort_values(by="fare_per_year", ascending=False)

## Displaying the top passenger

In [14]:
sorted_fare_age[["Name", "Age", "Fare", "fare_per_year"]].head(1)

                               Name   Age    Fare  fare_per_year
305  Allison, Master. Hudson Trevor  0.92  151.55     164.728261

# Problem 4 - "Which adult male paid the highest fare relative to class?"

In [15]:
titanic["fare_per_class"] = titanic["Fare"] / titanic["Pclass"]

## Filter adult males

In [16]:
adult_males = titanic[
    (titanic["Age"] >= 18) &
    (titanic["Sex"] == "male")
]

## Remove rows where age or fare might be missing

In [17]:
adult_males_clean = adult_males.dropna(subset=["Fare", "Pclass"])

## Sorting by fare per class - Descending

In [18]:
sorted_fare_class = adult_males_clean.sort_values(
    by="fare_per_class",
    ascending=False
)

## Display the top adult male

In [19]:
sorted_fare_class[["Name", "Age", "Pclass", "Fare", "fare_per_class"]].head(1)

                       Name   Age  Pclass      Fare  fare_per_class
737  Lesurer, Mr. Gustave J  35.0       1  512.3292        512.3292

# Problem 5 -

In [20]:
#Calculating total fare

total_fare = titanic["Fare"].sum()
total_fare

np.float64(28693.9493)

## total fare for each class

In [21]:
fare_class_1 = titanic[titanic["Pclass"] == 1]["Fare"].sum()
fare_class_2 = titanic[titanic["Pclass"] == 2]["Fare"].sum()
fare_class_3 = titanic[titanic["Pclass"] == 3]["Fare"].sum()

## Combine into a list

In [22]:
fare_totals = [fare_class_1, fare_class_2, fare_class_3]
fare_totals

[np.float64(18177.4125), np.float64(3801.8417), np.float64(6714.6951)]

## Calculate proportions

In [23]:
proportions = [(fare / total_fare) * 100 for fare in fare_totals]
proportions

[np.float64(63.349287718996564),
 np.float64(13.24962855496507),
 np.float64(23.401083726038365)]

## Display results

In [24]:
print("Percentage of total fare revenue by class:")
print(f"Class 1: {proportions[0]:.2f}%")
print(f"Class 2: {proportions[1]:.2f}%")
print(f"Class 3: {proportions[2]:.2f}%")

Percentage of total fare revenue by class:
Class 1: 63.35%
Class 2: 13.25%
Class 3: 23.40%

# Problem 6 - Percentage of passengers belonging to each age group

In [25]:
titanic["Age"] = titanic["Age"].fillna(titanic["Age"].median())

## Create the age group column

In [26]:
def classify_age(age):
    if age < 18:
        return "child"
    elif 18 <= age < 65:
        return "adult"
    else:
        return "senior"

titanic["age_group"] = titanic["Age"].apply(classify_age)

## Total number of passengers

In [27]:
total_passengers = len(titanic)
total_passengers

891

## Count number in each age group

In [28]:
age_group_counts = titanic["age_group"].value_counts()
age_group_counts

age_group
adult     767
child     113
senior     11
Name: count, dtype: int64

## Calculate percentage

In [29]:
age_group_percent = (age_group_counts / total_passengers) * 100
age_group_percent

age_group
adult     86.083053
child     12.682379
senior     1.234568
Name: count, dtype: float64

## Display output - clean

In [30]:
print("Percentage of passengers in each age group:")
for group, percent in age_group_percent.items():
    print(f"{group.capitalize()}: {percent:.2f}%")

Percentage of passengers in each age group:
Adult: 86.08%
Child: 12.68%
Senior: 1.23%